.colorTitle {
  color: #fd4f00;
}


.paddingPantone {
  margin-bottom: 0rem;
}

.paddingCopiado {
  margin-bottom: 10rem;
  margin-top: 10rem;
  font-size: 3rem;
}


.cardWidth {
  width: 18rem;
}

.row {
  justify-content: center;
}

/* Media Queries Generales */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .cardWidth {
    width: 17rem;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

/* Fin Media Queries Generales */
