<!-- listado de mensajes enviados -->
<div class="container container-sm container-md container-lg container-xl" *ngIf="data">
  <h1 class="colorTitle text-center text-capitalize mt-4 mb-5">colores</h1>
  <div class="row mb-4">
    <div class="card-group" *ngFor="let color of data">
      <a
        *ngIf="color"
        href="#myModal{{ color.id }}"
        class="btn float-right"
        data-toggle="modal"
        style="outline: rgba(0, 0, 0, 0);"
        (click)="myFunction(color.color)"
      >
        <div
          class="card cardWidth"
          style="background-color: {{ color.color }};"
        >
          <div class="card-body">
            <h5 class="card-title text-left text-white" >
              {{ color.year }}
            </h5>
            <h6
              class="card-subtitle mb-2 text-muted text-center text-capitalize text-white"
              style="color: white !important;"
            >
              {{ color.name }}
            </h6>
            <p class="card-text text-center text-white" style="user-select:all">
              {{ color.color }}
            </p>
            <p class="card-text text-right text-white" >
              {{ color.pantone_value }}
            </p>
          </div>
        </div>
      </a>
      <!-- modal -->
      <div id="myModal{{ color.id }}" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
          <div
            class="modal-content"
            style="background-color: {{ color.color }};"
          >
            <div class="modal-header text-center">
              <h3 class="modal-title text-capitalize text-white" >
                {{ color.name }}
              </h3>
              <button
                type="button"
                class="close text-white"
                data-dismiss="modal"
                
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <p class="text-left text-white" >
                {{ color.year }}
              </p>
              <h5
                class="text-center text-white text-capitalize paddingCopiado"
                
              >
                Copiado¡
              </h5>
              <p class="text-right paddingPantone">
                <small class="text-capitalize text-white" >
                  {{ color.pantone_value }}</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Paginacion -->

<div class="col-12 mb-5">
  <a
    class="btn btn-outline-secondary float-left mb-5"
    [routerLink]="['/main/one', prev_page]"
    tabindex="-1"
    >Anterior</a
  >

  <a
    class="btn btn-outline-secondary float-right mb-5"
    [routerLink]="['/main/one', next_page]"
    >Siguiente</a
  >
</div>
