<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-white" [routerLink]="['/']" [routerLinkActive]="['active-link']"
  [routerLinkActiveOptions]="{exact: true}">Multiplica</a>
</nav>
<router-outlet></router-outlet>
